$brand-primary: $o-brand-primary;
$brand-secondary: $o-brand-secondary;

$brand-primary-dark: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);
.web_flc_menu_bg_image{
    #apps_menu{
        background: transparent url(/app-menu-bg) scroll center center;
    }
}
#apps_menu {
    position: fixed;
    top: $o-navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    border-radius: 0;
    z-index: 200;
    background-color:#f2f7fb;
    //background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(-225deg, #c7ebe0 0%, #c3dcf1 100%);
    //background: transparent url(/web_flectra/static/src/img/application-switcher-bg.jpg) scroll center center;
    background-size: 100% 100% !important;
    flex-flow: column nowrap;
    display: flex;
    .search_home_hidden{
        opacity: 0;
    }

    .o_app_search_results{
        overflow: auto;
        margin-top:10px;
    }
    .o_app_search_results_sub{
        //max-width: 750px;
        max-width: 1024px;
        height: calc(100vh - 55px - 13em);
        width: 100%;
        margin: auto;
        flex: 0 0 auto;
    }
    .o-menu-search-result{
        font-size: 18px;
    }
    .o_app_search {
        display: flex;
        flex: 0 0 auto;
        width: 100%;
        //max-width: 750px;
        max-width: 1024px;
        margin: auto;
        padding: 0px 0;
        height: 32px;
        .o_search_box {
            flex: 1 1 0;
            border: none;
            border-bottom: 1px solid lighten($brand-primary, 50%);
            color: $brand-primary;
            background-color: transparent;
            padding: 0 10px;
            font-size: 20px;
            &:focus {
                border-bottom: 2px solid $brand-primary;
                outline: none;
            }
        }
        .o_search_icon {
            padding: 0 10px;
            color: $brand-primary;
            font-size: 24px;
            background-color: transparent;
        }
    }
    .o_apps_container {
        //max-width: 750px;
        max-width: 880px;
        width: 100%;
        margin: auto;
        flex: 0 0 auto;
        .o_app {
            float: left;
            width: calc(100%/6);
            cursor: pointer;
            text-align: center;
            height: 128px;
            margin: 4px;
            width: 135px;
            //width: 115px;
            //border:1px solid #ddd;
            //background-color: rgba(255, 255, 255, 0.5);
            .o_app_name {
               margin: 10px 5px;
                //font-weight: bold;
                //color: $brand-primary;
                color: #333;
                //color: #fff;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .o_app_icon {
                margin: 18px 0 auto;
                //max-height: 50px;
                max-height: 85px;
                //border-radius: 0px;
                border-radius: 8px;
                transition: .3s;
                background: #fff;
                padding: 17px;

                &:hover,&:focus{
                     -webkit-box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
                    //box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
                    border-radius: 5px;
                    background:#fff;
                    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
                    -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
                }
            }
            @media (max-width: map-get($grid-breakpoints, 'sm')) {
                width: calc(100%/3);
                margin: auto;
            }
            @media (max-width: map-get($grid-breakpoints, 'xs')) {
                width: calc(100%/3);
                margin: auto;
            }
//             &:hover, &:active {
//                 -webkit-box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
//                 -moz-box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
//                 box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
//                border-radius: 5px;
//                background:#fff;
//             }
        }
    }
    .o_brand_logo {
        flex: 1 0 auto;
        align-items: flex-end;
        margin: auto;
        display: flex;
        height: 100px;
        width: 600px;
    }
}
ul.o_menu_systray {
    .dropdown-menu {
        z-index: 1052;
    }
}

.apps-page{
    .o_main_navbar{
        background:transparent !important;
    }
}