/* ribbon */
.oe_product .ribbon-wrap {
  width: 85px;
  height: 88px;
  z-index: 100;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

/* quick view start */
.modal-lg .product_price {
    position: relative !important;
}
/* quick view end */

/* share Option start */
.share_buttons {
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

.oe_share_facebook, .oe_share_facebook:hover {
    color: #3b5998 !important;
}

.oe_share_twitter, .oe_share_twitter:hover {
    color: #326ada !important;
}

.oe_share_google, .oe_share_google:hover {
    color: #dd4b39 !important;
}

.oe_share_mail, .oe_share_mail:hover {
    color: #666666 !important;
}
/* share Option end */

/* Categorized Shop Page START */
.main-categ{
    display: block;
    background: #e7e7e7;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: @brand-primary;
    &:hover {
        text-decoration: none;
    }
}
.child-categ {
    padding: 7px 15px;
    a {
        text-decoration: underline;
        color: #444;

        &:hover {
            color: @brand-primary;
        }
    }
}
/* Categorized Shop Page END */
