$chatter_zone_width: 35%;
.o_main_navbar {
    .o_menu_apps {
        #apps_menu {
            position: fixed;
            top: $o-navbar-height;
            bottom: 0;
            left: 0;
            right: 0;
            max-height: 100%;
            border-radius: 0;
            z-index: 200;
            //background-color:#f9f9f9 !important;
           // background: transparent url(/web_flectra/static/src/img/flectra-bg-img.png) no-repeat scroll center center;
            //overflow: auto;
            flex-flow: column nowrap;
            display: flex;
            .o_app_search_results{
                overflow: auto;
                margin-bottom:64px;
                margin-top:16px;
            }
            .o_app_search_results_sub{
                //max-width: 750px;
                max-width: 1024px;
                height: calc(100vh - 55px - 13em);
                width: 100%;
                margin: auto;
                flex: 0 0 auto;
            }
            .o-menu-search-result{
                font-size: 18px;
            }
            .o_app_search {
                display: flex;
                flex: 0 0 auto;
                width: 100%;
                //max-width: 750px;
                max-width: 1024px;
                margin: auto;
                padding: 10px 0;
                height: 64px;
                .o_search_box {
                    flex: 1 1 0;
                    border: none;
                    //border-bottom: 1px solid lighten($o-brand-primary, 50%);
                    border-bottom: 2px solid #333;
                    color: $o-brand-primary;
                    background-color: transparent !important;
                    padding: 0 10px;
                    font-size: 20px;
                    &:focus {
                        border-bottom: 2px solid $o-brand-primary;
                        outline: none;
                    }
                }
                .o_search_icon {
                    padding: 0 10px;
                    color: $o-brand-primary;
                    font-size: 30px;
                    background-color: transparent;
                }
            }
            .o_apps_container {
                .o_app {
                    float: left;
                    width: calc(100%/6);
                    cursor: pointer;
                    text-align: center;
                    //height: 155px;
                    height: 120px;
                    margin: 8px;
                    width: 130px;
                    border: 1px solid #ddd;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    background-color: rgba(255, 255, 255, 0.5);
                    .o_app_name {
                       margin: 10px 5px;
                        //font-weight: bold;
                        //color: $o-brand-primary;
                        color: #333;
                    }
                    .o_app_icon {
                        margin: 18px 0 auto;
                        max-height: 50px;
                    }
                    @media (max-width: map-get($grid-breakpoints, 'sm')) {
                        width: calc(100%/3);
                        margin: 0px;
                    }
                    @media (max-width: map-get($grid-breakpoints, 'xs')) {
                        width: calc(100%/3);

                    }
                    &:hover, &:active {
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
                        box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
                        border-radius: 5px;
                        background:#fff;
                    }
                }
            }
            .o_brand_logo {
                flex: 1 0 auto;
                align-items: flex-end;
                margin: auto;
                display: flex;
            }
        }
    }
    ul.o_menu_systray {
        .dropdown-menu {
            z-index: 1052;
        }
    }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  height: 20px;
  width: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 20px;
  left: 0px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.theme_changer_label:hover{
    cursor: pointer;
}

.o_main_navbar .o_menu_brand.mobile-view, .o_main_navbar .o_menu_sections.mobile-view:not(.show){
    display: none !important;
}

.o_app_search_results::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
}

.o_app_search_results::-webkit-scrollbar
{
	width: 5px;
}

.o_app_search_results::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 0;

}