.btn-secondary,.btn-secondary.disabled, .btn-secondary:disabled,.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{
    color: #4c4c4c;
    background-color: white;
    border-color: #cccccc;

    &:hover,&:focus{
        background:#f0f0f0;
        color: #4c4c4c;
        border-color: #cccccc;
    }
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus{
    box-shadow:none !important;
}
.f_color_palette_loading {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1060;
}
.o_cp_right > nav.btn-group.o_cp_switch_buttons > .active{
        color: #4c4c4c !important;
        background-color: #e6e6e6 !important;
        border-color: #adadad !important;
}


.o_setting_box{
    .o_button_icon{
        color:unset;
    }
}




@include media-breakpoint-down(sm) {
    .o_control_panel {
        .o_cp_top {
            justify-content: space-between;
            .o_cp_top_left {
                max-width: 35%;
                .breadcrumb {
                    overflow: hidden;
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .o_cp_top_right {
            	min-height: 35px;
            	min-width: 65%;
            	flex-grow: 1;
        	}
        }
        padding-left: $o-horizontal-padding /2;
        padding-right: $o-horizontal-padding /2;
        .o_cp_bottom {
            justify-content: space-between;
            .o_cp_bottom_left {
                flex-grow: 1;
                .o_cp_action_menus, .o_cp_buttons {
                    flex: 1 1 100%;
                }
                .o_cp_action_menus .o_dropdown .o_dropdown_toggler_btn {
                    i:last-of-type{
                        display: none;
                    }
                    .o_dropdown_title {
                        display: none;
                    }
                    &::after{
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: 0.255em;
                        vertical-align: 0.255em;
                        content: "";
                        border-top: 0.3em solid;
                        border-right: 0.3em solid transparent;
                        border-bottom: 0;
                        border-left: 0.3em solid transparent;
                    }
                }
            }
            .o_cp_bottom_right {
                .o_cp_pager {
                    white-space: nowrap;
                    .o_pager_counter {
                        max-width: 60px;
                        @include o-text-overflow;
                    }
                    .o_pager_previous, .o_pager_next {
                           border: none;
                    }
                }
                .o_search_options {
                    display: none;
                }
            }
        }
       .breadcrumb-item {
            &:not(.active) {
                padding-left: 0;
            }
            &::before {
                content: none;
                padding-right: 0;
            }
            &:nth-last-of-type(1n+3) {
                display: none;
            }
            &:nth-last-of-type(2) {
                &::before {
                    content: "\f053";
                    cursor: pointer;
                    color: $o-brand-primary;
                    font-family: FontAwesome;
                }
                a {
                    display: none;
                }
            }
        }
        .o_cp_buttons .btn.d-block:not(.d-none) {
            display: inline-block !important;
        }
        .o_cp_switch_buttons {
            &.show > .dropdown-menu {
                display: flex;
                min-width: 0px;
                flex-direction: row;
                align-content: center;
                justify-content: space-around;
                padding: 0;
                .btn {
                    margin: 5px;
                    border: none;
    				font-size: 1.25rem;
                }
            }
        }
    }
	.o_controller_with_searchpanel .o_search_panel {
   		display: none;
    }
}

@include media-breakpoint-down(sm) {
    .o_cp_switch_buttons{
        height: 35px
    }

    .o_cp_bottom_left{
        .btn-primary{
            margin-bottom: 2px;
        }
    }

    .o_mail_systray_dropdown.show {
            .o_mail_preview_image {
                align-items: center;
                display: flex;
                flex-direction: row;
                img {
                    display: block;
                    height: auto;
                }
            }
        }
    .o_main_navbar {
        display: flex;

        .o_menu_systray {
            margin-left: auto;
        }
        .o_debug_manager {
            .dropdown-menu.show {
            }
        }
        .o_user_menu, .o_switch_company_menu {
            > .dropdown-toggle {
                padding: 0 10px;
                white-space: nowrap;
                &::before, &::after {
                    content: normal;
                }
            }
            .dropdown-menu.show {
            }
        }
        > .dropdown {
            display: flex;
            .navbar-toggler {
                color: white;
            }
            .o_menu_sections, .o_menu_systray {
                padding: 0;
            }
        }
        .o_user_menu img {
            margin-bottom: 3px;
        }
        .o_menu_brand, .o_menu_sections, .oe_topbar_name {
            display: none;
        }


        .dropdown-menu .dropdown-item {
            padding: {
                bottom: 0.5rem;
                top: 0.5rem;
            }
        }

         .o-menu-toggle {
            cursor: pointer;
        }

    }
}


@media (max-width: 767.98px){
    @media (max-width: 767.98px){
        .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus{
            display: block;
        }
    }
}
.o_cp_bottom_right{
    ul.dropdown-menu.dropdown-menu-right.list-inline{
        left: inherit !important;
        right: 0 !important;
    }
}
.o_kanban_record:hover, .o_app:hover{
    z-index: 1;
}
