body {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}
#wrapwrap {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;

    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Rubik', sans-serif;
    }
}

#wrapwrap > footer {
    .container {
        p, .list-unstyled {
            font-size: 18px;
        }
    }
}

//Release Note Page//
.download-accordion{
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Rubik-Light', sans-serif !important;
    }


}  