@mixin f-form-view-responsive() {
  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    .o_group_col_6, .o_inner_group {
      width: 100%;
    }
  }
  @media (max-width: 480px) {
    .o_group_col_6, .o_inner_group {
      tr {
        display: flex; //.o-flex-display();
        flex-flow: row wrap; //.o-flex-flow(row, wrap);
        td {
          flex: 1 0 auto; //.o-flex(1, 0, auto);
          max-width: 100%;
          width: auto !important;
          display: block;

          &.o_td_label {
            width: 90% !important;
            border: none;
          }

          .o_input_dropdown {
            width: auto;
            max-width: 100%;
          }

          .o_field_widget.o_field_many2one.o_with_button {
            display: flex;
          }
        }

        .o_td_label + td {
          padding: 3px 5px 3px 5px;
        }

        .o_field_widget.o_text_overflow {
          width: auto !important;
        }
      }
    }
  }
}

.o_form_view {

  .o_field_image.oe_avatar{
    padding: 0 1%;
  }
  .o_form_sheet_bg {
    background: lighten($o-brand-primary, 30%);

    > .o_form_sheet {
      max-width: 1172px;
      min-width: 0;

      .oe_title {
        width: auto;
      }

      .oe_button_box {
        width: auto;
        margin-bottom: 20px;
      }

      @media (max-width: map-get($grid-breakpoints, 'xs')) {
        margin: 24px 0;
      }
      @include f-form-view-responsive();
    }
  }

  // Button box
  .oe_button_box {
    width: 100%;
    text-align: left;
//     float: left;
    margin-bottom: 12px;

    .oe_stat_button {
      .o_button_icon {
        color: $o-brand-primary;
      }
    }
  }

  .oe_chatter {
    background-color: #ffffff;
    min-width: unset;
    max-width: 1024px;

    .o_mail_activity .o_thread_date:hover {
      color: inherit;
    }
  }
}

.modal-dialog {
  .modal-content {
    .o_form_view {
      @include f-form-view-responsive();
    }
  }
}

.o_form_view {
    //Tab Color Changes
    .nav-tabs > li > a{
        border:none;
        margin-right: 0;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    -webkit-box-shadow: inset 0 -1px 0 #bbb;
    box-shadow: inset 0 -1px 0 #bbb;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    }
    .nav-tabs > li > a:hover{
        //border: none;
        -webkit-box-shadow: inset 0 -2px 0 $brand-info-dark !important;
        box-shadow: inset 0 -2px 0 $brand-info-dark !important;
        color:$primary  !important;
    }

    .nav-tabs > li.nav-item > a, .nav-tabs > li.nav-item > a:focus {
        border: none;
        -webkit-box-shadow: inset 0 -2px 0 #4c4c4c !important;
        box-shadow: inset 0 -2px 0 #4c4c4c !important;
        color: #4c4c4c !important;
    }



    .nav-tabs > li.nav-item > a.active{
        border-top:none !important;
         -webkit-box-shadow: inset 0 -2px 0 $primary !important;
        box-shadow: inset 0 -2px 0 $primary !important;
        color:$primary  !important;
    }

    .nav-tabs > li{
        margin-top: 2px;
    }

}


.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(66, 66, 66, 0.1);
}

input::placeholder{
    color: #999;
    text-transform: capitalize;
    opacity: 1;
    text-indent: 10px;
}
input::-moz-placeholder {
    color: #999;
    text-transform: capitalize;
    opacity: 1;
    text-indent: 10px;
}
input::-webkit-input-placeholder{
    color: #999;
    text-transform: capitalize;
    opacity: 1;
    text-indent: 10px;
}
input::-ms-input-placeholder{
    color: #999;
    text-transform: capitalize;
    opacity: 1;
    text-indent: 10px;
}