.o_kanban_view {
    overflow: auto;
}
.o_kanban_record:hover, .o_app:hover{
    -webkit-transform: translateY(-4px) scale(1.01);
    -moz-transform: translateY(-4px) scale(1.01);
    -ms-transform: translateY(-4px) scale(1.01);
    -o-transform: translateY(-4px) scale(1.01);
    transform: translateY(-4px) scale(1.01);
    -webkit-box-shadow: 0 14px 24px rgba(62,57,107,.1);
    box-shadow: 0 14px 24px rgba(62,57,107,.1);
}
.o_list_table > tbody > tr:hover{
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99);
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}
.o_list_table > tbody > tr > td{
    padding-top: 7px;
    padding-bottom: 7px;
}