nav.o_main_navbar {
    > ul > li {
        > a {
            &.full {
                font-size: 20px;
            }
        }
    }
}
.o_main_navbar{
    border-bottom: 1px solid #263544;
    background-color: #263544;
}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color:transparent;
}
.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: transparent;
    color: inherit;
}
.o_main_navbar .show .dropdown-toggle {
    color: #97bde2;
    background-color: transparent;
}
.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
    letter-spacing: 0.5px;
}