nav.o_main_navbar {
    > ul > li {
        > a {
            &.full {
                font-size: 20px;
            }
        }
    }
}
.o_main_navbar{
    border-bottom: 1px solid #263544;
    background-color: #263544;
}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color:transparent;
}
.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: transparent;
    color: inherit;
}
.o_main_navbar .show .dropdown-toggle {
    color: #97bde2;
    background-color: transparent;
}
.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
    letter-spacing: 0.5px;
}

.o_menu_sections.mobile-view.collapse.show{
    display:flex !important;
}

@media (max-width: 767.98px){
    .o_main_navbar .o_menu_sections.show {
        border: none;
        box-shadow: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: calc(100vh - 46px);
        position: fixed;
        margin: 0;
        width: 100vw;
        z-index: 100;
        top: 46px !important;
        transform: none !important;
        background-color: #FFFFFF;
        overflow: auto;

        .dropdown-toggle::after{
            right: 5% !important;
            position: absolute;
            top: 50%;
        }

    }

    .dropdown-menu.show{
        transform: none !important;
        top:100% !important;

    }
}

.o-menu-slide {
    display:none !important;
}

body[data-menu="sidemenu"]{
   .o-menu-slide {
        display:block !important;
    }
}
