$o-community-color: #009efb;
$o-brand-odoo:      #009efb;
$o-brand-primary:   #009efb;
$o-navbar-height:   55px;
$brand-info-dark:   #56bf9f;
$o-mail-thread-avatar-size: 36px !default;
$o-mail-attachment-image-size: 100px !default;

$primary:       #009efb !default;
// $primary:       #2496f6 !default;
$secondary:     #448AFF !default;
$success:       #469408 !default;
$info:          #666666 !default;
$warning:       orange !default;
$danger:        #d91f1f !default;

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #666;
$gray:                   #777;
$gray-light:             #AEA79F;
$gray-lighter: lighten($gray-base, 93.5%);

body{
    font-family: "Rubik",sans-serif !important;
    font-size:  15px !important;
}