// Colors
$o-community-color: $theme-brand-primary;
$o-brand-flectra:      $theme-brand-primary;
$o-brand-primary:   $theme-brand-primary;
$o-brand-secondary: $theme-brand-primary;
$o-brand-background-color: $theme-brand-background-color;

$o-navbar-height:   55px;
$o-mail-thread-avatar-size: 36px !default;
$o-mail-attachment-image-size: 100px !default;

$brand-info-dark:   #56bf9f;

$primary:       $theme-brand-primary !default;
$secondary:     #448AFF !default;
$success:       #469408 !default;
$info:          #666666 !default;
$warning:       orange !default;
$danger:        #d91f1f !default;

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #666;
$gray:                   #777;
$gray-light:             #AEA79F;
$gray-lighter: lighten($gray-base, 93.5%);

// Font
$o-root-font-size: 15px;
$o-root-font-family: $theme-root-font-family;
@media(min-width:768px){
    body.o_web_client{
        font-size: $o-root-font-size;
    }
}
.o_add_field, .o_remove_field {
    font-size: 12px;
}
@if $o-root-font-family == 'google-font'{
    @import url("https://fonts.googleapis.com/css?family=#{$backend-google-font}");
    body.o_web_client{
        font-family: $backend-google-font !important;
    }
}
@if $o-root-font-family != 'google-font'{
    body.o_web_client{
        font-family: $o-root-font-family !important;
    }
}
