<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">

    <t t-name="AppsSearch">
        <div class="o_apps_container">
            <t t-foreach="apps" t-as="app">
                <a class="o_app"
                   t-att-data-menu-id="app.menuID"
                   t-att-data-menu-xmlid="app.xmlID"
                   t-att-data-action-id="app.actionID">
                    <img class="img img-fluid o_app_icon"
                         t-att-src="app.icon ? 'data:image/png;base64,' + app.icon : '/base/static/description/icon.png'"/>
                    <div class="o_app_name"><t t-esc="app.name"/></div>
                </a>
            </t>
        </div>
    </t>

    <t t-name="AppsMenu">
        <li>
            <a class="full" href="#">
                <i class="fa fa-th"/>
            </a>
            <div class="d-none" id="apps_menu">
                <div class="search-container align-items-center">
                    <div class="search-input">
                        <div class="o_app_search input-group mt-1">
                            <span class="o_search_icon"><i class="fa fa-search"/></span>
                            <input type="input" class="o_search_box"/>
                        </div>
                    </div>
                </div>
                <div class="o_app_search_results">
                    <div class="o_app_search_results_sub">
                        <div class="o_apps_container">
                            <t t-foreach="widget.getApps()" t-as="app">
                                <a class="o_app"
                                   t-att-data-menu-id="app.menuID"
                                   t-att-data-menu-xmlid="app.xmlID"
                                   t-att-data-action-id="app.actionID">
                                    <img class="img img-fluid o_app_icon"
                                         t-att-src="app.icon ? 'data:image/png;base64,' + app.icon : '/base/static/description/icon.png'"/>
                                    <div class="o_app_name"><t t-esc="app.name"/></div>
                                </a>
                            </t>
                        </div>
                        <div class="search-results ml-auto mr-auto rounded" />
                    </div>
                </div>
    <!--            <div class="o_brand_logo">-->
    <!--                <img class="img img-responsive m-0 m-auto w-25" src="/web_flectra/static/src/img/flectra-logo-transparent.png"/>-->
    <!--            </div>-->
            </div>
        </li>
    </t>

    <t t-name="Menu.link">
        <t t-set="depth" t-value="(depth || 0) + 1"/>

            <t t-if="!menu.children.length">
            <t t-set="_link">
                <li>
                    <a role="menuitem"
                       t-attf-href="#menu_id=#{menu.id}&amp;action=#{menu.action ? menu.action.split(',')[1] : ''}"
                       t-att-data-menu="menu.id"
                       t-att-data-action-model="menu.action ? menu.action.split(',')[0] : ''"
                       t-att-data-action-id="menu.action ? menu.action.split(',')[1] : ''"
                       t-att-data-menu-xmlid="menu.xmlid"
                       t-attf-class="#{inNavbar ? '' : 'dropdown-item '}o_menu_entry_lvl_#{depth}"
                       data-toggle="collapse" data-target="#o_navbar_collapse.in">
                        <span><t t-esc="menu.name"/></span>
                    </a>
                </li>
            </t>
                <li t-if="inNavbar">
                <t t-raw="_link"/>
            </li>
                <t t-else="">
                <t t-raw="_link"/>
            </t>
        </t>
            <t t-else="">
            <a t-attf-class="dropdown-header o_menu_header_lvl_#{depth}">
                <span><t t-esc="menu.name"/></span>
            </a>
                <t t-foreach="menu.children" t-as="menu">
                <t t-call="Menu.link"/>
            </t>
        </t>
    </t>

    <t t-name="web_responsive.MenuSearchResults">
        <t t-foreach="results" t-as="result">
            <t t-set="menu" t-value="widget._menuInfo(result)"/>
            <a  t-attf-class="o-menu-search-result dropdown-item col-12 ml-auto mr-auto #{result_first ? 'active' : ''}"
                t-attf-href="#menu_id=#{menu.id}&amp;action_id=#{menu.action_id}"
                t-att-data-menu-id="menu.id"
                t-att-data-action-id="menu.action_id"
                t-att-data-parent-id="menu.parent_id[0]"
                draggable="false"
                t-raw="result.string"/>
        </t>
    </t>

    <!-- separate first level dropdown from the others to avoid nested dropdown -->
    <t t-name="Menu.sections">
        <t t-foreach="menu_data.children" t-as="first_level_menu">
            <section t-att-class="first_level_menu.id">
                <t t-foreach="first_level_menu.children" t-as="second_level_menu">
                    <t t-if="!second_level_menu.children.length">
                        <t t-call="Menu.link">
                            <t t-set="inNavbar" t-value="true"/>
                            <t t-set="menu" t-value="second_level_menu"/>
                        </t>
                    </t>
                    <t t-else="">
                        <li>
                            <a href="#" class="dropdown-toggle o_menu_header_lvl_1"
                               t-att-data-menu-xmlid="second_level_menu.xmlid" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                <t t-esc="second_level_menu.name"/>
                                <span class="caret"/>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <t t-foreach="second_level_menu.children" t-as="third_level_menu">
                                    <t t-call="Menu.link">
                                        <t t-set="depth" t-value="1"/>
                                        <t t-set="menu" t-value="third_level_menu"/>
                                    </t>
                                </t>
                            </ul>
                        </li>
                    </t>
                </t>
            </section>
        </t>
    </t>

    <t t-name="web.color_palette_loading">
        <div class="f_color_palette_loading">
            <div style="left: 50%; top: 40%; position: absolute;">
                <img src="/web_flectra/static/src/img/loading.png"
                     style="animation: fa-spin 1s infinite steps(12);"
                     alt="Loading..." class=""/>
                <br/>
                <br/>
                <span style="color: #ffffff; font-size: 20px;">Loading...</span>
            </div>
        </div>
    </t>

</templates>
