/* MAIN
   ========================================================================== */
@mango-primary:#ed8558;
@mango-success:#74bcc5;
@mango-info:#5bc0de;
@mango-warning: #f0ad4e;
@mango-danger: #d9534f;

@cyrus-primary:#FF847C;
@cyrus-success:#99B898;
@cyrus-info:#FECEAB;
@cyrus-warning:#2A3638;
@cyrus-danger:#E84A5F;

@moon-primary:#45ADA8;
@moon-success:#547980;
@moon-info:#9DE0AD;
@moon-warning:#594F4F;
@moon-danger:#594F4F;

@keent-primary:#355C7D;
@keent-success:#C06C84;
@keent-info:#6C5B7B;
@keent-warning:#F67280;
@keent-danger:#F8B195;

#wrapwrap {
	[class *= "bg-"].automatic-color , .automatic-color {
		color: @gray-darker;
	}

	.bg-white [class *= "bg-"] .text-white , [class *= "bg-"].text-white , .text-white {
		color: #fff;
	}

	.bg-gray-lighter [class *= "bg-"] .text-gray-lighter , [class *= "bg-"].text-gray-lighter , .text-gray-lighter {
		color: @gray-lighter;
	}

	.bg-gray [class *= "bg-"] .text-gray , [class *= "bg-"].text-gray , .text-gray {
		color: @gray;
	}

	.bg-gray-darker [class *= "bg-"] .text-gray-darker , [class *= "bg-"].text-gray-darker , .text-gray-darker {
		color: @gray-darker;
	}

	.bg-primary [class *= "bg-"] .text-primary , [class *= "bg-"].text-primary , .text-primary {
		color: @color-primary;
	}
}

.bg-gray-light {
	background-color: @gray-light;
}

.bg-gray-dark {
	background-color: @gray-dark;
}

.bg-black {
	background-color: #000;
}

