[Unit]
Description=Flectra Open Source ERP and CRM
After=network.target

[Service]
Type=simple
User=flectra
Group=flectra
ExecStart=/usr/bin/flectra --config /etc/flectra/flectra.conf --logfile /var/log/flectra/flectra-server.log
KillMode=mixed

[Install]
WantedBy=multi-user.target

