#!/usr/bin/make -f
export DH_VERBOSE=1
export PYBUILD_NAME=flectra-bin
export PYBUILD_DISABLE=test

%:
	dh ${@} --with=python3 --buildsystem=pybuild

override_dh_auto_build:
	cp -r addons/* flectra/addons/
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	rm debian/flectra/usr/lib/python3*/dist-packages/flectra/addons/point_of_sale/static/src/fonts/Inconsolata.otf
	for LINKTARGET in `awk '{ print $2 }' flectra.links`; do rm debian/flectra/${LINKTARGET} ; done
	find debian/flectra -name LICENSE.txt -exec rm {} \;

override_dh_auto_clean:
	dh_auto_clean
	for d in addons/* ; do rm -fr flectra/$$d ; done
