$dark-bg:#212529;
body.f_dark_mode {
    $primary:       #424242 !default;
    background-color: #212529 !important;
    $primary:       #dcdcdc !default;
    :link:not(cite){
        color: #8db2e5 !important;
    }
    html, body {
      color: #dcdcdc !important;
      background-image: none !important;
      background-color: #292929 !important;
    }

    html::before, body::before {
      background-image: none !important;
    }
    .o_field_widget.o_field_selection{
        select option{
                background: transparent !important;
                color: #777 !important;
            }
    }
    .alert-info .alert-link{
        color: #00639e !important;
    }
    .o_form_label.o_field_invalid, .o_field_invalid {
        color: #d91f1f !important;
        input, .o_input{
            border-color: #d91f1f !important;
         }

    }
    .o_list_renderer .o_list_table tr.o_data_row_selected td, .o_list_renderer .o_list_table tbody > tr.o_data_row_selected > td.o_list_number:not(.o_list_record_selector){
        background-color: #dedede !important
     }
    .o_list_renderer .o_list_table tbody > tr.o_data_row_selected > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button):not(.o_list_record_remove){
            color: #333 !important;
            background-color: #dedede !important;
      }
      .o_list_renderer .o_list_table tbody > tr.o_data_row_selected.text-muted td input{
                    background-color: transparent !important;

        }
    .o_searchview .o_searchview_facet .o_searchview_facet_label{
        background-color:transparent;
    }
    .o_mail_systray_item .o_notification_counter,.o_MessagingMenu_counter{
        background:transparent;
    }

    .o_main_navbar {
        background:$dark-bg;

        .o_menu_sections .o_nav_entry, .o_menu_sections .dropdown-toggle {
            background: transparent !important;
            border: none !important;
        }

    }

    .o_menu_apps{
            background:transparent;

            i{
                &:before{
                    color:#fff !important;
                }
            }
    }

    .ui-autocomplete .ui-menu-item:hover{
        a{
            color:#dcdcdc !important;
        }

    }

    .o_list_view .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier){
        background-color: white;

    }

    .app-sidebar{
         background: #212529 ;
    }
    .app-sidebar-menu{
        li > a > .title{
            color:#fff !important;
        }

        li{
            a{
                &:hover{
                    background:#464646 !important
                }
            }
        }
    }

    html *:not(input) {color: #dcdcdc !important}
    .o_base_settings .o_setting_container .settings > .app_settings_block h2,
    .app_settings_block > div > h2 ,.app_settings_block > h2,
    .app_settings_block > div > div > h2 {background-color: rgba(41, 41, 41, 0.90) !important; color: #dcdcdc; }

     *,  *[id],  *[class] {
      border-color: #555555 !important;
      outline-color: #555555 !important;
      //color: #dcdcdc !important;

    }

    .o_setting_container .app_settings_header, .o_setting_container .bg-view, .bg-view, .o_timeoff_dashboard, .o_calendar_renderer, .bg-light{
        background-color: transparent !important;
    }
    .o_knowledge_sidebar.bg-view{
          background-color: #fff !important;
          .text-muted{
              color: #212529 !important;
          }
    }
    .o_pivot table .o_pivot_measure_row:hover, .o_pivot table .o_pivot_origin_row:hover, .o_pivot table .o_pivot_header_cell_closed:hover, .o_pivot table .o_pivot_header_cell_opened:hover {
            color: #212529 !important;
    }
    .o_notebook .nav {
        background-color: #212529 !important;
    }

    .o_main_navbar .o_navbar_apps_menu, .o_main_navbar .o_menu_brand {
        background: transparent !important;
    }

    .o_main_navbar .dropdown-toggle:hover, .o_main_navbar .o_nav_entry:hover {
        background-color: #464646 !important;
    }
    .o-dropdown button.dropdown-toggle:active, .show > .btn-outline-secondary.dropdown-toggle{
        color: #212529 !important;
        background-color: #fff;
        border-color: #fff !important;
    }

    .btn-fill-flectra, .btn-flectra {
        background-color: transparent !important;
    }

    body{
        color: #dcdcdc !important;
    }

    .nav-tabs .nav-link.active{
        background-color: transparent !important;
    }
    :before {color: #6c757d !important}

    .o_form_view_container{
        :before {color: #fff !important}
    }

    :link:not(cite), :link *:not(cite) {color: #fff !important}

    .breadcrumb-item.active, .o_search_panel_label{
        color: #dcdcdc !important;
    }
    .o_form_sheet, .o_control_panel, .o_form_statusbar, .o_FormRenderer_chatterContainer,
    .o_Chatter_scrollPanel,.o_Chatter, .o_Chatter_fixedPanel, .o_MessageList, .o_Message,
    .o_search_panel, .o_dropdown_menu , .o_searchview , .dropdown-menu, .o_searchview , .dropdown-menu .o_dropdown_title,
    .o_data_row,.o_form_view,.o_facet_values, .o_search_panel_category_value, .o_form_view.o_xxs_form_view .o_form_label{
        background-color:  #212529 !important;
        color: #dcdcdc !important;
    }
    .nav-tabs > li > a:hover{
        -webkit-box-shadow: inset 0 -2px 0 $brand-info-dark !important;
        box-shadow: inset 0 -2px 0 $brand-info-dark !important;
        color:#dcdcdc  !important;
    }

    .nav-tabs > li.nav-item > a{
        border: none;
        -webkit-box-shadow: inset 0 -2px 0 #dcdcdc !important;
        box-shadow: inset 0 -2px 0 #dcdcdc !important;
        color:#dcdcdc !important;
    }
    .o_notebook_headers .nav-tabs > li.nav-item > a{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .o_form_uri{
        color: #355cca !important;
    }
    .o_form_sheet_bg{
        background-color: #212529 !important;
    }
    .settings > h2 {
        background-color: #212529 !important;
    }
    .settings{
        background-color: #212529 !important;
    }
    .btn-link {
        color: #dcdcdc;
    }
    .o_MessageList_separatorLabel{
        background-color: #212529 !important;
    }
    .o_group_by_menu{
        .o_add_custom_group_menu option{
            background: inherit !important;
            color: inherit !important;
         }
    }
    .o_company_onboarding_form_view .o_field_widget .o_input{
        color: #dcdcdc !important;
     }
    .o_required_modifier.o_field_monetary {
        border-bottom: 1px solid #fff !important;
        .o_input{
            background-color: transparent !important;
        }
    }
    .o_payment_provider_desc{
        h4{
            color: inherit !important;
        }
    }
    .o_input, .o_input .o_input {
        background-color: transparent !important;
        //border: none;
        border-radius: 0;
        //border-bottom: 1px solid #dcdcdc !important;
        background-position: center bottom, center calc(100% - 1px);
        background-repeat: no-repeat;
        background-size: 0 2px, 100% 1px;
        transition: background 0s ease-out 0s;
        padding: 3px 0;
        &:focus, &.focus {
            background-image: linear-gradient(#56bf9f, #56bf9f), linear-gradient(#56bf9f, #56bf9f) !important;
            border: 0 none !important;
            border-radius: 0;
            box-shadow: none;
            float: none;
            background-size: 100% 2px, 100% 1px;
            outline: 0 none;
            transition-duration: 0.4s;
        }
    }
    input, .o_action_manager{
        background-color:  #212529 !important;
        color: #dcdcdc !important;
    }
    .o-form-buttonbox .btn.oe_stat_button > .o_stat_info .o_stat_value, .o-form-buttonbox .btn.oe_stat_button > .o_field_statinfo .o_stat_value, .o_stat_text,.breadcrumb{
        background-color:  #212529 !important;
        color: #dcdcdc !important;
    }
    .o_kanban_record_title, .bg-100, .text-900, .o_form_label, .btn-outline-secondary, .btn-light, .o_form_view .o_statusbar_status .o_arrow_button:not(.disabled), .btn-outline-primary{
        color: #dcdcdc !important;
        background: transparent;
    }
    .o_DiscussSidebarMailbox.bg-200, .bg-100{
        color: #dcdcdc !important;
        background: transparent !important;
    }
    .text-muted{
        color: #dcdcdc !important;
    }
    .btn-outline-primary:hover{
        background: #f0f0f0 !important;
        color: #333 !important;
    }
    .o_Message_date {
        color: #adb5bd !important;
    }
    .btn-light, .o_form_view .o_statusbar_status .o_arrow_button:not(.disabled){
        background-color: transparent !important;
//         background-color: #fff !important;
    }
    .o_form_view .o_form_statusbar .o_statusbar_status > .o_arrow_button {
        background-color: #777777;
        //color: #dcdcdc !important;
        //color: #333 !important;

        &:hover{
            background: $o-brand-primary !important;
        }
    }
    .o_required_modifier.o_input{
        background-color: #212529 !important;
        color: #dcdcdc !important;
    }
    .o_required_modifier.o_field_many2one,.o_input_dropdown > input {
        color: #dcdcdc !important;
    }
    select, .o_kanban_view, .o_kanban_record, .o_statusbar_status > button.btn-secondary{
        background-color:  #212529 !important;
        color: #dcdcdc !important;
    }
    .o_kanban_renderer .o_kanban_record > div, .o_kanban_renderer .o_kanban_quick_create, .o_kanban_renderer.o_kanban_grouped .o_kanban_group{
        background-color: transparent !important;
    }
    .o_statusbar_status > button.btn-primary{
        background-color: #777777 !important;
        color: #dcdcdc !important;
    }
     .btn-primary,.btn-secondary{
        //color:#333 !important;
    }
    .btn-primary{
        background-color: transparent !important;
    }
    .btn-secondary,.btn-secondary:focus{
        background-color: transparent !important;
    }
    .btn-secondary{
        color:unset;
    }
    .btn-secondary:hover{
            background: #f0f0f0 !important;
            color: #333 !important;
    }

    .o_field_widget.o_field_many2manytags .o_tag_color_0{
        color: #777777 !important;
    }

    .list-group-item-action:hover, .list-group-item-action:focus {
        background-color: #212529;
    }
    .nav-link.active{
        color: #dcdcdc !important;
    }
    .o_dropdown_menu > li > a ,.dropdown-item, .dropdown-header{
        color: #dcdcdc !important;
    }
    .o_list_table > tbody > tr{
         background-color:  #212529 !important;

         .text-900{
            color: #fff !important;
         }
    }
    tr, th{
        background-color: #212529 !important;
        color: #dcdcdc !important;
    }
    #apps_menu{
       //background-color:#212529 !important;
       background-image: linear-gradient(-225deg, #000000 0%, #545e66 100%);
       .o_app{
            .o_app_name{
                color:#fff !important;
            }

            &:hover{
                .o_app_name{
                    //color:#333 !important;
                    color:#908c8c !important;
                }
            }
       }
    }
    .o_main_navbar .o_menu_apps #apps_menu .o_apps_container .o_app .o_app_name{
       //color:#fff;
    }
    .o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover{
        background-color:#464646 !important
    }
    .o_main_navbar .show .dropdown-toggle,.o_main_navbar > a:hover{
        background-color: #464646 !important;
    }
    .o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label{
        color:#333 !important;
    }
    .o_view_nocontent .o_nocontent_help > p:first-of-type{
        color: #fff !important;
    }
    .modal-header, .modal-footer, .modal-body{
        //background-color: #212529 !important;
        //color: #dcdcdc !important;
        background-color: #434343 !important;
        color: #fff !important;

        button.btn-close{
            filter: invert(1);
         }
        .form-switch .form-check-input{
            background-color: transparent !important;
        }
        .o_domain_selector_debug_container{
            .text-body{
                color: inherit !important;
           }
         }
        .o-autocomplete{
            background-color: transparent !important;
         }
        .o_model_field_selector_chain_part{
            background-color: transparent !important;
            border-color: transparent !important;
         }
        select option{
            color: #777 !important;
         }
    }

     .o_list_table{
         [data-tooltip="Draft"], [data-tooltip="Nothing to Bill"]{
            .o_field_badge span{
                 color: #fff !important;
                background-color: #7c7c7c !important;
            }
         }
     }
    .o_kanban_header.position-sticky.z-index-1{
        background: $dark-bg;
        z-index: 5 !important;
     }
    .o_view_nocontent .o_nocontent_help > p:first-of-type{
        color: inherit !important;
    }
    .dropdown-pos-config{
        a.oe_kanban_action_a{
            color: inherit !important;
        }
    }
    .o_model_field_selector_popover .o_model_field_selector_popover_header, .o_model_field_selector_popover .o_model_field_selector_popover_footer{
        background-color: $dark-bg;

     }
     .o_popover_field_selector.o-popover-bottom > .popover-arrow::after {
        border-bottom-color:  $dark-bg;
    }
    .modal-title{
        color: #fff !important;
    }
    .o_kanban_quick_create .o_inner_group .o_input{
            background-color: #212529 !important;
    }
    .note-editable,.o_purchase_dashboard{
        background-color: #212529 !important;
        color: #dcdcdc !important;
    }
    .dropdown-item:hover, .o_search_panel_label:hover{
        color: #dcdcdc !important;
        background-color: #464646 !important;
    }
    .o_switch_view, .o_column_folded{
        color: #212529 !important;
    }
    .o_switch_view.active{
        background-color: #dee2e6;
        color: #212529 !important;
    }
    .o_required_modifier {
        &.o_input, .o_input {
            background-color: #212529 !important;
            border-bottom: 2px solid #666666;
        }
    }
    .badge{
        color: #fff !important;
    }
    .o_tag.o_tag_color_0 {
        color: #777777 !important;
    }
    .o_horizontal_separator{
        color: #dcdcdc !important;
    }
    .o_field_widget {
        &.o_field_many2one .o_external_button {
            color: lighten($o-brand-primary, 30%);
            background-color: transparent !important;
        }
    }
    html *, html *[id], html *[class] {
        box-shadow: none !important;
        text-shadow: none !important;
        border-radius: unset !important;
        border-color: #555555 !important;
        outline-color: #555555 !important;
    }
    .btn-secondary,.btn-secondary.disabled, .btn-secondary:disabled, .show > .btn-secondary.dropdown-toggle{
//         color: #dcdcdc;
//         background-color: #212529;
//         border-color: #cccccc;

        &:hover,&:focus{
            background:#f0f0f0;
            color: #4c4c4c;
            border-color: #cccccc;
        }
    }

    .o_kanban_card_survey_successed {
        background-image: linear-gradient(#469408, #469408), url(/survey/static/src/img/trophy-solid.svg);
    }

    .alert-warning{
        background-color: transparent;
    }

    .o_form_sheet .o_hr_skills_group .o_resume_group_header{
         background-color: transparent !important;
    }

    .o_form_sheet{
        .o_list_view .o_list_table{
            background-color: transparent;
        }
    }

    .o_ChatterTopbar_button:hover, .o_FollowButton_follow:hover,
    .o_FollowButton_unfollow:hover,.o_FollowerListMenu_buttonFollowers:hover{
        background-color: #dee2e6 !important;
        color: #212529 !important;
    }
    .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{
        background-color: #dcdcdc !important;
    }
    .o_form_view .oe_button_box{
        border-bottom: 1px solid #555;
    }
    .f-theme-customizer-panel {
        background-color: #212529;
        color: #fff;

        .f-theme-customizer-header .header > h3, .f-theme-customizer-header .header > .h3, .f-theme-customizer-content .section h4, .f-theme-customizer-content .section .h4{
            color: #dcdcdc !important;
        }
    }
    .o_DiscussSidebar{
        background-color: #212529 !important;
        color: #dcdcdc !important;
    }

    .o_component_with_search_panel .list-group-item{
        color: #dcdcdc;
        background-color: transparent;
    }
    .o_searchview .o_searchview_facet .o_facet_remove{
        border: 0;
    }
    .o_calendar_sidebar_container{
        background-color: transparent;
    }
    .o_data_row_selected td{
        color: #333 !important;

    }
    .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_card_header_title .o_primary, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_primary_left .o_primary > span:first-child, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .oe_kanban_content > .o_title > h3, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .oe_kanban_content > .o_title > .h3{
        color: #dcdcdc;
    }
    .o_kanban_dashboard .o_kanban_renderer .o_kanban_card_manage_title{
        color: #fff;
    }
    .o_upload_media_url_button, .o_upload_media_button, .badge.bg-200{
        color:  #212529 !important;
    }
    .o_tree_editor .o_tree_editor_node .o_tree_editor_node_control_panel > button{
        opacity: 1 !important;
    }
    .o_base_settings_view .o_form_renderer .o_setting_container .settings > .app_settings_block h3, .o_base_settings_view .o_form_renderer .o_setting_container .settings > .app_settings_block .h3{
        color: #fff;
    }
    .o_base_settings_view .o_form_renderer .o_setting_container .settings_tab{
         background-color: #212529 !important;

         .tab{
            color: #fff;

            &:hover{
               color: #dcdcdc;
            }
         }
    }
    .o_base_settings_view .o_form_renderer .o_setting_container .settings_tab .selected{
        color:  #212529 !important;
    }
    .preloader-select{
        .arrow{
            border-color: transparent !important;
            border-top-color: #7c7c7c !important;
        }
        .btn-select{
            background-color: transparent;
            color: #fff;
        }
    }
    .f-theme-customizer-panel .f-theme-customizer-footer{
        background-color: #212529;
    }

    .o_list_renderer .o_list_table tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button):not(.o_list_record_remove){
       color: #333 !important;
    }

    .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):disabled:not(.o_arrow_button_current), .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):disabled:not(.o_arrow_button_current), .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):disabled:not(.o_arrow_button_current):hover, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):disabled:not(.o_arrow_button_current):focus{
        color: #fff !important;
        border-right-color: transparent !important;
    }

}
.f_color_palette_loading {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1060;
}
.theme_changer_parent{
    .custom-control-input:checked ~ .custom-control-label::before{
        background-color: black;
    }
}

.o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none).o_arrow_button_current:disabled, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none).o_arrow_button_current:disabled, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first), .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first){
    //color:$brand-primary !important;
}


body.f_dark_mode{
    .ui-autocomplete .ui-menu-item{
        background:#fff;
        &:hover{
            color:#fff !important;
        }
    }

    .text-900{
        //color:#333 !important;
    }

    .o_form_sheet_bg{
        .o_field_text > div > textarea{
            color:#fff !important;
        }
    }

    .o-mail-Chatter{
        .o_form_view{
            color:#333 !important;
        }

        background:#212529 !important;;
    }
}

.f_dark_mode{

    .f-theme-customizer-panel{
        select > option{
            background:#212529 !important;
        }
    }

    .ui-autocomplete,.o-autocomplete{
        background:#212529 !important;
        color:#fff !important;

        &:hover{
            color:#fff !important;
        }

        li,a li > a{
            background:#212529 !important;
            color:#fff !important;
            &:hover{
                color:#fff !important;
            }
        }
    }

    .o-mail-Chatter-top{
        background:transparent !important;
    }

    .o-mail-Form-chatter{
        .btn-primary,.btn-secondary{
            //color:#333 !important;
        }
    }

    .o_field_widget.o_field_many2many_tags .badge .o_tag_badge_text {
        color:#333;
    }

    .o_action_manager{
        .btn-light{
            background:transparent !important;
            border:1px solid !important;
        }
    }
    .o_data_row_selected{
        .o_list_button{
            color: #333 !important;
            background-color: #dedede !important;
            }
     }
//     .o_list_renderer .o_list_table tbody > tr > td:not(.o_list_record_selector).o_list_button,
//     .o_list_renderer .o_list_table .o_list_record_selector{
//         background:transparent !important;
//     }

    .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child:not(.o_group) .o_field_x2many.o_field_x2many_list .o_list_renderer tr > :first-child.o_handle_cell,
    .o_list_renderer .o_list_table .o_list_record_remove{
         background:transparent !important;
    }
    .o_data_row td{
        background-color: transparent !important;
    }
    .o_popover{
        .o_avatar_card{
            .card-body{
                a,span{
                    color:#333 !important;
                }
            }
        }

        .o_datetime_picker{
            .bg-100{
                color:#333 !important;
            }
        }

        .o_datetime_picker .o_datetime_picker_header .o_header_part{
            color: inherit !important;
        }

        .o-mail-ActivityMarkAsDone{
            .btn-primary {
                 color:#333 !important;
            }
        }

        .d-contents.mb-3.mb-sm-0{
            .text-900{
                color:#fff !important;
            }
        }
    }
    .o_onboarding_step_title{
        color: inherit !important;
    }
    .o_form_sheet .oe_title h1 span{
        color: #fff;
    }
    .o_list_renderer .o_list_table tbody > tr > td:not(.o_list_record_selector).o_list_number{
        background:transparent !important;
    }

    .o-mail-Form-chatter{
        .btn-link {
            color: #dcdcdc !important;
            border: none;
        }
    }

    .o_menu_systray{
        button{
            border:none !important;
        }
    }

}

body.f_dark_mode .o_list_renderer .o_list_table tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button):not(.o_list_record_remove) {
    background:#212529 !important;
    color:#fff !important;
}

body.f_dark_mode{
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):before,
    .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):before,
    .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none).o_arrow_button_current:disabled:after,
    .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):after,
    o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_last):after{
        border-left: 1em solid #212529;
    }

    .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):before, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):before, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):after, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):after, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_last):before, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_last):before, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_last):after, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_last):after{
        border-left: 1em solid #212529;
    }
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_arrow_button_current:not(.d-none):disabled:before, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button.o_arrow_button_current:not(.d-none):disabled:before, .o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_arrow_button_current:not(.d-none):disabled + .btn:before, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button.o_arrow_button_current:not(.d-none):disabled + .btn:before, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first):before, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first):before, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first) + .btn:before, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first) + .btn:before{
        border-left-color: #777;
    }
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_first{
        border-right-color: #777 !important;
    }
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_last{
        border-right-color: transparent !important;
    }
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_arrow_button_current:not(.d-none):disabled{
        //border-right-color: transparent !important;
    }


    .o_form_view.o_form_nosheet, .o_form_view .o_form_nosheet {
        background:#555555 !important;
    }

    .o_searchview_facet_label {
        background-color: #fff !important;
    }

    .o_onboarding_main .o_onboarding_step .o_onboarding_step_action{
        color: #fff;
    }

    .o-mail-ChatterContainer, .o-mail-Form-chatter,
    .o-mail-Thread-jumpPresent{
           background-color: #212529 !important;
    }

    .o_kanban_renderer,.o_onboarding_wrap{
             background-color:$dark-bg !important;
    }

    .o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_arrow_button_current:not(.d-none):disabled, .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button.o_arrow_button_current:not(.d-none):disabled, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first), .o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):active:not(.o_first){
        background-color: transparent!important;
        border-color: #777777 !important;
        color: #fff !important;

    }

    .o_error_dialog .modal-header {
           margin-bottom:0rem;
    }

    .o_kanban_view{
        .o_form_view.o_xxs_form_view .o_form_label {
            background-color:#555 !important;
        }
    }

    .oi.oi-close.align-text-top:before{
        color:#333 !important;
    }

    .o-mail-Chatter-topbar{
         .btn.px-0.my-2{
                padding-right: 20px !important;
         }
    }

    .o_setting_right_pane button.btn-link:first-child {
        padding: revert-layer;
    }

    .o_payment_kanban_info{
        .badge {
            color: #333 !important;
        }
    }


    .o_switch_company_menu{
        .alert-primary{
               background-color: unset !important;
        }
    }

    @media (min-width: 768px) {
        .o_kanban_renderer .o_kanban_group.o_column_folded .o_column_title {
               color: #fff !important;
        }
        .o_kanban_renderer .o_kanban_group.o_column_folded button.o_column_unfold {
            padding: 0 !important;
        }

    }

    .o_website_dashboard_content .o_demo_background{
        .btn-primary{
            color: #333 !important;
        }
    }

    .o_list_renderer.o_renderer.table-responsive.o_list_renderer_4 > table > tbody > tr > td.o_data_cell.cursor-pointer.o_field_cell.o_list_char.o_open_move_widget_cell.o_readonly_modifier > div > a{
        color: #333 !important;
    }

    .o_list_renderer .o_list_table tbody > tr.o_data_row_selected > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button):not(.o_list_record_remove) {
        a{
            color:#333 !important;
        }
    }

    .o_switch_company_menu.d-none.d-md-block.o-dropdown--no-caret > button > span{
        color: #6c757d !important;
    }

    .o-mail-NotificationItem-text,.o-mail-NotificationItem-name.text-truncate.fw-bold{
        color:#fff !important;
    }

    .o-mail-ActivityMenu{
        .list-group-item-action:hover,{
            color:#fff !important;
            .text-muted {
              color:#fff !important;
            }
        }

        .text-muted {
          color:#333 !important;
        }
    }


    .o_timeoff_calendar{
        background:#212529 !important;
         .fc-day-top.fc-sat.fc-past,
         .fc-day-top.fc-sun.fc-past{
            background-color: #3C3E4B !important;
        }
    }

    .o_calendar_renderer .o_calendar_widget .fc-dayGridMonth-view .fc-content-skeleton .fc-day-top .fc-day-number{
        color:unset !important;
    }

    .o_calendar_renderer .o_calendar_widget .o_calendar_disabled{
        background-color: transparent !important;
    }

    .o_hr_holidays_hierarchy .o_hr_holidays_plan_level_container .o_kanban_renderer.o_kanban_ungrouped .o_kanban_record .o_hr_holidays_body .o_hr_holidays_card .content{
        background:$dark-bg !important;
        border: 1px solid;
    }

    .o_hr_holidays_hierarchy .o_hr_holidays_plan_level_container .o_kanban_renderer.o_kanban_ungrouped .o_kanban_record .o_hr_holidays_body .o_hr_holidays_timeline{
        color:#333;
    }




}

body.f_dark_mode .btn-light, body.f_dark_mode .o_form_view .o_statusbar_status .o_arrow_button:not(.disabled){
    background-color:$dark-bg !important;

}
