body[data-theme="dark"] {
    $primary:       #424242 !default;
    background-color: #212529 !important;
    $primary:       #dcdcdc !default;
    :link:not(cite){
        color: #8db2e5 !important;
    }
    html, body {
      color: #dcdcdc !important;
      background-image: none !important;
      background-color: #292929 !important;
    }

    html::before, body::before {
      background-image: none !important;
    }

    .o_searchview .o_searchview_facet .o_searchview_facet_label{
        background-color:transparent;
    }
    .o_mail_systray_item .o_notification_counter,.o_MessagingMenu_counter{
        background:transparent;
    }

    .o_main_navbar {
        background-color: transparent;
    }

    .o_menu_apps{
            background:transparent;

            i{
                &:before{
                    color:#fff !important;
                }
            }
    }

    .ui-autocomplete .ui-menu-item:hover{
        a{
            color:#333 !important;
        }

    }

    .o_list_view .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier){
        background-color: white;

    }

    .app-sidebar{
         background: #212529 ;
    }
    .app-sidebar-menu{
        li > a > .title{
            color:#fff !important;
        }

        li{
            a{
                &:hover{
                    background:#464646 !important
                }
            }
        }
    }

    html *:not(input) {color: #dcdcdc !important}
    .app_settings_block > div > h2 ,.app_settings_block > h2,
    .app_settings_block > div > div > h2 {background-color: rgba(41, 41, 41, 0.90) !important}

     *,  *[id],  *[class] {
      border-color: #555555 !important;
      outline-color: #555555 !important;

    }

    body{
        color: #dcdcdc !important;
    }

    .nav-tabs .nav-link.active{
        background-color: transparent !important;
    }
    :before {color: #6c757d !important}
    :link:not(cite), :link *:not(cite) {color: #fff !important}

    .breadcrumb-item.active, .o_search_panel_label{
        color: #dcdcdc !important;
    }
    .o_form_sheet, .o_control_panel, .o_form_statusbar, .o_FormRenderer_chatterContainer,
    .o_Chatter_scrollPanel,.o_Chatter, .o_Chatter_fixedPanel, .o_MessageList, .o_Message,
    .o_search_panel, .o_dropdown_menu , .o_searchview , .dropdown-menu,
    .o_data_row,.o_form_view,.o_facet_values, .o_search_panel_category_value{
        background-color:  #212529 !important;
        color: #dcdcdc !important;
    }
    .nav-tabs > li > a:hover{
        -webkit-box-shadow: inset 0 -2px 0 $brand-info-dark !important;
        box-shadow: inset 0 -2px 0 $brand-info-dark !important;
        color:#dcdcdc  !important;
    }

    .nav-tabs > li.nav-item > a{
        border: none;
        -webkit-box-shadow: inset 0 -2px 0 #dcdcdc !important;
        box-shadow: inset 0 -2px 0 #dcdcdc !important;
        color:#dcdcdc !important;
    }
    .o_form_uri{
        color: #355cca !important;
    }
    .o_form_sheet_bg{
        background-color: #212529 !important;
    }
    .settings > h2 {
        background-color: #212529 !important;
    }
    .settings{
        background-color: #212529 !important;
    }
    .btn-link {
        color: #dcdcdc;
    }
    .o_MessageList_separatorLabel{
        background-color: #212529 !important;
    }
    .o_input, .o_input .o_input {
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #dcdcdc !important;
        background-position: center bottom, center calc(100% - 1px);
        background-repeat: no-repeat;
        background-size: 0 2px, 100% 1px;
        transition: background 0s ease-out 0s;
        padding: 3px 0;
        &:focus, &.focus {
            background-image: linear-gradient(#56bf9f, #56bf9f), linear-gradient(#56bf9f, #56bf9f) !important;
            border: 0 none !important;
            border-radius: 0;
            box-shadow: none;
            float: none;
            background-size: 100% 2px, 100% 1px;
            outline: 0 none;
            transition-duration: 0.4s;
        }
    }
    input, .o_action_manager{
        background-color:  #212529 !important;
        color: #dcdcdc !important;
    }
    .o_stat_value,.o_stat_text,.breadcrumb{
        background-color:  #212529 !important;
        color: #dcdcdc !important;
    }
    .o_required_modifier.o_input{
        background-color: #212529 !important;
        color: #dcdcdc !important;
    }
    .o_required_modifier.o_field_many2one,.o_input_dropdown > input {
        color: #dcdcdc !important;
    }
    select, .o_kanban_view, .o_kanban_record, .o_statusbar_status > button.btn-secondary{
        background-color:  #212529 !important;
        color: #dcdcdc !important;
    }
    .o_statusbar_status > button.btn-primary{
        background-color: #777777 !important;
        color: #dcdcdc !important;
    }
    .btn-primary{
        background-color: transparent;
    }
    .btn-secondary,.btn-secondary:focus{
        background-color: transparent;
    }
    .btn-secondary{
        color:unset;
    }
    .btn-secondary:hover{
            background: #f0f0f0 !important;
            color: #333 !important;
    }

    .o_field_widget.o_field_many2manytags .o_tag_color_0{
        color: #777777 !important;
    }

    .list-group-item-action:hover, .list-group-item-action:focus {
        background-color: #212529;
    }
    .nav-link.active{
        color: #dcdcdc !important;
    }
    .o_dropdown_menu > li > a ,.dropdown-item, .dropdown-header{
        color: #dcdcdc !important;
    }
    .o_list_table > tbody > tr{
         background-color:  #212529 !important;
    }
    tr, th{
        background-color: #212529 !important;
        color: #dcdcdc !important;
    }
    #apps_menu{
       background-color:#212529 !important;
       .o_app{
            .o_app_name{
                color:#fff !important;
            }

            &:hover{
                .o_app_name{
                    color:#333 !important;
                }
            }
       }
    }
    .o_main_navbar .o_menu_apps #apps_menu .o_apps_container .o_app .o_app_name{
       //color:#fff;
    }
    .o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover{
        background-color:#464646 !important
    }
    .o_main_navbar .show .dropdown-toggle,.o_main_navbar > a:hover{
        background-color: #464646 !important;
    }
    .o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label{
        color:#333 !important;
    }
    .o_view_nocontent .o_nocontent_help > p:first-of-type{
        color: #fff !important;
    }
    .modal-header, .modal-footer, .modal-body{
        background-color: #212529 !important;
        color: #dcdcdc !important;
    }
    .note-editable,.o_purchase_dashboard{
        background-color: #212529 !important;
        color: #dcdcdc !important;
    }
    .dropdown-item:hover, .o_search_panel_label:hover{
        color: #dcdcdc !important;
        background-color: #464646 !important;
    }
    .o_switch_view, .o_column_folded{
        color: #212529 !important;
    }
    .o_switch_view.active{
        background-color: #dee2e6;
        color: #212529 !important;
    }
    .o_required_modifier {
        &.o_input, .o_input {
            background-color: #212529 !important;
            border-bottom: 2px solid #666666;
        }
    }
    .badge{
        color: #dcdcdc !important;
    }
    .o_horizontal_separator{
        color: #dcdcdc !important;
    }
    .o_field_widget {
        &.o_field_many2one .o_external_button {
            color: lighten($o-brand-primary, 30%);
            background-color: transparent !important;
        }
    }
    html *, html *[id], html *[class] {
        box-shadow: none !important;
        text-shadow: none !important;
        border-radius: unset !important;
        border-color: #555555 !important;
        outline-color: #555555 !important;
    }
    .btn-secondary,.btn-secondary.disabled, .btn-secondary:disabled, .show > .btn-secondary.dropdown-toggle{
//         color: #dcdcdc;
//         background-color: #212529;
//         border-color: #cccccc;

        &:hover,&:focus{
            background:#f0f0f0;
            color: #4c4c4c;
            border-color: #cccccc;
        }
    }

    .o_kanban_card_survey_successed {
        background-image: linear-gradient(#469408, #469408), url(/survey/static/src/img/trophy-solid.svg);
    }

    .alert-warning{
        background-color: transparent;
    }

    .o_form_sheet .o_hr_skills_group .o_resume_group_header{
         background-color: transparent !important;
    }

    .o_form_sheet{
        .o_list_view .o_list_table{
            background-color: transparent;
        }
    }

    .o_ChatterTopbar_button:hover, .o_FollowButton_follow:hover,
    .o_FollowButton_unfollow:hover,.o_FollowerListMenu_buttonFollowers:hover{
        background-color: #dee2e6;
        color: #212529 !important;
    }
    .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{
        background-color: #dcdcdc !important;
    }
    .o_form_view .oe_button_box{
        border-bottom: 1px solid #555;
    }
    .f-theme-customizer-panel {
        background-color: #212529;
        color: #fff;
    }
}
.f_color_palette_loading {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1060;
}
.theme_changer_parent{
    .custom-control-input:checked ~ .custom-control-label::before{
        background-color: black;
    }
}

