.o_gantt_renderer{
    height: 100%;
}
.gantt_grid_head_add, .gantt_add{
    display: none;
}
.gantt_task_progress_drag{
    display: none !important;
}
.gantt_scale_line > .gantt_scale_cell, .gantt_grid_scale > .gantt_grid_head_cell{
    font-weight: bold !important;
} 